<h1 class="center"> Log in </h1>

<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url:login_path) do |f| %>

    <!-- TITLE-->
    <div class="form-group"> <!--Bootstrap class for the a form group-->
      <div class= "control-label col-sm-2"> <!-- title label-->
    <%= f.label :email %>
    </div>
    <div class="col-sm-10" > <!-- title input-->
    <%= f.email_field :email, class: "form-control", placeholder:"Enter email", autofocus: true %>
     </div>  <!-- end of email input-->
    </div> <!-- end of email group-->

    <!-- DESCRIPTION-->
    <div class="form-group"> <!--Bootstrap class for a form group-->
      <div class= "col-sm-2 control-label"> <!-- description label-->
    <%= f.label :password %>
       </div> <!-- end of description label-->
    <div class=" col-sm-10" > <!-- description input-->
    <%= f.password_field :password, class: "form-control", autocomplete:"off" %>
    </div>
    </div> <!-- end of password group-->


    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10 bt-article">
    <%= f.submit "Log in", class: 'btn btn-primary btn-lg' %> <!-- if it's new user-use Sign up, if not use "Update" -->
    </div>
    </div>
    <% end %>
    <div class="col-sm-offset-2 col-sm-10 center">
      <%= link_to "Cancel and return to articles listing", articles_path  %>
    </div>
     </div>
