<%= render 'shared/errors', obj: @article %>


<!-- full_messages() public
Returns all the full error messages in an array -->

<!-- In article.rb we defined all the constraints for the title and description that will show in the error messages-->


  <div class ='row'>
     <div class ='col-xs-10'>
  <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>

  <!-- TITLE-->
  <div class="form-group"> <!--Bootstrap class for the a form group-->
    <div class= "control-label col-sm-2"> <!-- title label-->
  <%= f.label :title %>
  </div>
  <div class="col-sm-10" > <!-- title input-->
  <%= f.text_field :title, class: "form-control", placeholder:"Title of article", autofocus: true %>
   </div>  <!-- end of title input-->
  </div> <!-- end of title group-->

<!-- DESCRIPTION-->
 <div class="form-group"> <!--Bootstrap class for a form group-->
    <div class= "col-sm-2 control-label"> <!-- description label-->
  <%= f.label :description %>
     </div> <!-- end of description label-->
  <div class=" col-sm-10" > <!-- description input-->
  <%= f.text_area :description, rows: 10,  class: "form-control", id: "body-article", placeholder:"Body of article" %>
  </div>
 </div> <!-- end of description group-->

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10 bt-article">
  <%= f.submit class: 'btn btn-primary btn-lg' %>
  </div>
</div>
  <% end %>
  <div class="col-sm-offset-2 col-sm-10 center">
    <%= link_to "Cancel and return to articles listing", articles_path  %>
  </div>
   </div>
  </div>
