<%= form_for @article do |f| %>
<p>
<%= f.label :title %> <br/>
<%= f.text_field :title %>
</p>

<p>
<%= f.label :description %> <br/>
<%= f.text_area :description %>        #for description, we need a larger area for text
</p>
<p>
<%= f.submit  %>
</p>
<% end %>
