<h1 class="center"> All articles </h1>

<!--to display all articles, we iterate to @articles instance variable (that has all the articles from db)-->

<!-- @articles includes all the articles; article= each individual item -->

<% @articles.each do |article| %>

<div class="row">

<div class="col-xs-8 col-xs-offset-2">

<div class="well well-lg">
<div class="article-title">

<%= link_to article.title, article_path(article) %> <!--we use 'article' bec we iterate to each article obj (see above)  -->

</div>

<div class="article-body">

<%= truncate(article.description, length: 100) %> <!--A method to show only first 100 words -->

<div class="article-meta-details">
<small>Created by: <%= article.user.username if article.user%>, <!-- if that user has articles -->
<%= time_ago_in_words(article.created_at) %> ago,  <!--a rails method that wraps the created_at attribute and show time in a friendly manner -->
last updated: <%= time_ago_in_words(article.updated_at) %> ago</small>
</div>


</div>

<div class="article-actions-all">

<%= link_to "Edit this article", edit_article_path(article), class: "btn btn-toolbar-sm btn-primary" %> <!-- we use var @article , to get the article from ID -->
<%= link_to "Delete this article", article_path(article), class: "btn btn-toolbar-lg btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete this article? "} %>
<%= link_to "View all articles", articles_path, class: "btn btn-toolbar-lg btn-success" %>

 </div>

</div>

</div>

</div>

<% end %>
