<h2 class="center">Title: <%= @article.title %> </h2>
 <div class= "well col-xs-8 col-xs-offset-2">

   <% if @article.user %>  <!--if the article has a user -->
   <ul class="listing">
   <div class="row center">
   <div class="col-md-4 col-md-offset-4">
   <li>Created by:</li>
   <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
   <li class="article-title">
   <%= link_to @article.user.username, user_path(@article.user) %>
   </li>
   <li><small>
   <%= pluralize(@article.user.articles.count, "article") if @article.user.articles %>
   <!--if @article.user.articles = if the user who wrote this particular article has more articles -->
   </small></li>
   </div>
   </div>
   </ul>
   <% end %>

   <h3 class="center description"><strong>Description:</strong>
    <hr>
    <%= simple_format(@article.description) %></h3> <!--simple_format -displays the original format of description -->

 <div class="article-actions">

<% if logged_in? && (current_user == article.user || current_user.admin?) %>
<%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-toolbar-sm btn-primary" %> <!-- we use var @article , to get the article from ID -->
<%= link_to "Delete this article", article_path(@article), class: "btn btn-toolbar-lg btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete this article? "} %>
<% end %>
<%= link_to "View all articles", articles_path, class: "btn btn-toolbar-lg btn-success" %>

  </div>
  </div>
